.cover {
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.lable {
  margin: auto !important;
  padding: 20% !important;
}

.cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}
